services:
- type: web
  name: malaria-detection-api
  runtime: docker
  dockerfilePath: ./docker/Dockerfile
  region: oregon
  plan: free
  healthCheckPath: /health
  env:
  - key: ENVIRONMENT
    value: production
  - key: TF_CPP_MIN_LOG_LEVEL
    value: "2"
  - key: PYTHONUNBUFFERED
    value: "1"

- type: web
  name: malaria-detection-ui
  runtime: docker
  dockerfilePath: ./docker/Dockerfile.ui
  region: oregon
  plan: free
  healthCheckPath: /_stcore/health
  env:
  - key: STREAMLIT_SERVER_HEADLESS
    value: "true"
  - key: STREAMLIT_SERVER_ADDRESS
    value: "0.0.0.0"
  - key: STREAMLIT_BROWSER_GATHER_USAGE_STATS
    value: "false"
  - key: API_BASE_URL
    value: https://malaria-detection-api.onrender.com
